APP_NAME=DigitalLoka
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DIGITALOCEAN_TOKEN=

SUPABASE_AUTH_REDIRECT_URL=http://localhost/auth/callback
ALLOWED_ORIGIN=http://localhost
